*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero{
  height: 100vh;
  width: 100%;
  background:url(./Assets/pill-1884775_1280.jpg) no-repeat center center/cover;
  background-position: top;
  position: relative;
  color: whitesmoke;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.logo{
  
   margin-left: 55px;
  display: inline-block;
}
.logo h1{
  font-size: 1.7rem;
  color: gray;
}
.navbar{
  padding-top:20px ;
    height: 10vh;
    position: sticky;
    bottom: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.Nav-logo{
  text-decoration: none;
}
 
.navbar-links{
  display: flex;
  float: right;
  width: 30vw;
  justify-content: space-evenly;
}
.Nav-link{
  text-decoration: none;
  display: inline-block;
  margin-right:20px;
  font-size: 1.2rem; 
  color: grey;
  transition: 0.3s;
}
.Nav-link:hover{
  color:rgb(0, 206, 255);
}

.active{
   color:rgb(0, 206, 255);
}
.navbar-btn{
  padding: 5px 10px;
  border-radius: 0 10px 0 10px;
 border: none;
  background-color: grey;
  color:white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-btn:hover{
  opacity: 0.8;
}
.hero-content{
  position: absolute;
  left: 16%;
  color: grey;
  top: 29%;
  transform: translate(-35%,-50%);
  text-align: center;
}
.hero-content h1{
  font-size: 4rem;
}
.hero-content p{
  opacity: 0.6;
}
.side-open{
 font-size: 1rem;
  border: none;
  height: 90px;
  width: 100px;
  position:fixed;
  right: -10px;
  top: 40%;
  border-radius: 0 0 0 15px;
  background-color: grey;
  color: white;
  padding: 0 15px;
  cursor: pointer;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}
.side-open h4{
  font-size: 1rem;
}
.side-open p{
  border-radius: 5px;
  margin-top: 12px;
  height: 30px;
  padding: 5px 0;
  background-color: white;
  font-size: 1rem;
  color: black;
}
.input-field{
  position: absolute;
  top: 85%;
  left: 50%;
  width: 45%;
  transform: translate(-50%);
  display: flex;
}
.input-field input{
      padding: 12px;
      width: 100%;
      border-radius: 3px;
     border: none;
     outline: none;
}
.search-btn{
  width: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: white;
  border-radius: 0 10px 0 10px;
}
.search-btn h3{
  font-size: 1.2rem;
}

/* main content */

#main{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  background-color: rgba(202, 201, 201, 0.7);
}
.side-navbar{
  background-color: white;
  width: 22%;
  height: 100vh;
  position: sticky;
  top: 0;

}
.side-navbar ul{

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.side-navbar ul li a{
  text-decoration: none;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.side-navbar ul li{
  padding: 20px 35px;
  list-style: none;
  cursor: pointer;
}
.side-navbar ul li:active{
  background-color: rgb(0, 206, 255);
  color: white;
}
.side-navbar ul li:hover a{
  color:rgb(0, 206, 255);
}



/* Products */


.Product{
    min-height: 100vh;
    margin: 20px 40px;
    width: 75vw;
    
}
.Card button{
  border: none;
 background: none;
 display: inline-block;
 float: right;
 transition: 1s;
}
.Card button :hover{
  color: navy;
}
.Card{
  background-color: white;
  display: inline-block;
  width: 16em;
  height: 16em;
  padding: 20px 20px;
  margin: 20px 28px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.Card img{
  height: 70%;
  width: 100%;
}
.Card h4{
    font-size: 1rem;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Card h3{
  font-size: 1rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   opacity: 0.4;
   display: inline-block;
}



/* NEED HELP  */
.faq{
  text-align: center;
 margin-bottom: 50px;

}
.accordian{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Simple-acc{
  width: 70%;
}
.acc{
  margin-bottom: 5px;
  padding: 5px;
}
.need{
  background-color: rgba(128, 128, 128,0.1);
  height: 89vh;
  padding-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
}
.credit{
  text-align: center;
  font-size: 0.8rem;
  margin-top: 100px;
}



/* Offer */


.offer{
    background-color: rgba(128, 128, 128,0.1);
    min-height: 100vh;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}
.offer-card{
  background-color: white;
  height: 34vh;
  width: 20vw;
  border-radius: 10px;
  margin:20px;

}
.offer-card img{
  height: 180px;
  width: 262px;
}
.offer-card h2{
  font-size: 1.1rem;
  opacity: 0.7;
 margin: 3px 15px;
}



/* Join Page  */

.join{
    height: 90vh;
    width: 100%;
    background-color: rgba(128, 128, 128,0.3);
    display: flex;
    justify-content: center;

}
.login{
    width: 50%;
    height: 80vh;
    background-color: white;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 10px;
}
.login h2{
  font-size: 1.9rem;
  color: rgb(0, 206, 255);
}
.login h4{
  font-size: 1rem;
  opacity: 0.5;
}
.login-form{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
}
.login-form input{
  padding: 8px;
  display: flex;
  margin: 10px 0;
  width: 50%;
  border-radius: 4px;
  border: 1px solid whitesmoke;
  background-color: rgba(128, 128, 128,0.1);

}
.login-form button,.login-btn-f,.login-btn-g{
  width: 50%;
  text-align: center;
  padding: 8px 0;
  outline: none;
  border: none;
  margin: 5px 0;
  background-color: rgba(128, 128, 128,0.6);
  color: white;
  border-radius: 5px;
}
.login-btn-f{
  background-color: blue;
  color: whitesmoke;
}
.login-btn-g{
  background-color: navy;
  color: whitesmoke;
}
.login h5{
  font-size: 1rem;
  opacity: 0.8;
margin-top: 15px;
}
.h5-reset{
  text-align: center;
}

/* signup form */

.signup-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup{
  width: 40%;
  margin: 20px;
   display: flex;
   flex-direction: column;
}
.signup input{
  width: 100%;
  margin: 10px 0;
  background-color: rgba(128, 128, 128,0.2);
  border: 1px solid white;
  padding: 10px 10px;

}
.signup-form button{
  width: 40%;
  background-color: rgba(128, 128, 128,0.9);
  border: 1px solid white;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.signup-form p{
  margin-top: 30px;
}
.join-link{
  text-decoration: none;
}



/* Cart-slider */

#Cart{
  right: -33%;
  transition: all 0.45s ease-in-out ;
}
#Cart-1{
  right: 0%;
  transition: all 0.45s ease-in-out ;
}
.Cart-slider{
  height: 100vh;
  width: 33%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  background: white;
  box-shadow: rgb(0 0 0 / 16%) 0px 21px 36px;
 
}

.cart-header{
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}
.cart-close{
  border: none;
  background: none;
  display: inline-block;
}
.cart-bag{
  display: inline-block;
}
.cart-middle{
  height: 70vh;
 }
.cart-footer{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-footer a{
  color: gray;
  text-decoration: none;
  font-size: 1rem;
}
.cart-footer-btn{
  width: 90%;
  height: 45px;
  border-radius: 30px;
  display: flex;
  padding: 2px 3px;
  align-items: center;
  justify-content: space-between;
  background-color: gray;
  color: white;
  border: none;
}
.cart-footer-btn p{
  margin: 2px 30px;
  font-size: 1.1rem;
}

.card-footer-btn-cost{
  background-color: white;
  color: black;
  height: 100%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}


/* Cart Objects */

.cartobject{
  width: 95%;
  height: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.5px solid whitesmoke;
}
.cartobject img{
  width: 90px;
  height: 70px;
}
.cartobject-heading{
  display: flex;
  flex-direction: column;
}
.cartobject h4{
    color: black;
    font-size: 1.2rem;
}

.cartobject h3{
  font-size: 1rem;
  color: gray;
  opacity: 0.8;
}
.product-counter{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.product-counter input{
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      border: 0.5px solid gray;
      outline: none;
      border-radius: 5px;
      padding: 0 5px
}